.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 600px;
  width: 80%;
  max-height: 80%;
  overflow: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-image {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
}

.close-button {
  color: #777;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#comments-section {
  margin-top: 20px;
}

#comments-section h3 {
  margin-bottom: 10px;
}

#comments-list {
  list-style-type: none;
  padding: 0;
}

#comments-list li {
  margin-bottom: 10px;
}

.comment-form {
  background-color: aquamarine;
}

#comment-form label {
  display: block;
  margin-bottom: 5px;
}

#comment-form textarea {
  width: 100%;
  height: 100px;
}

#comment-form button {
  margin-top: 10px;
}
