* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.movies {
    width: 30%;
    height: 50vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}
.test-img {
    width: 100%;
    height: 60%;
}
.love {
    width: 1.5vw;
    cursor: pointer;
}
.my-img {
    width: 100%;
    height: 100%;
}
.space {
    /* width: 55%; */
    margin: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
}
.love-btn {
    border: 1px solid black;
}
.btn {
    padding: 1vh 2vw;
    border-radius: 5px;
    border: none;
    margin-top: 2vh;
    margin-left: 7vw;
}
